<div class='addAccount-container'>
    <a
        class='addAccount_btn-return'
        data-toggle='tooltip'
        href='/admin/playlists'
    ><i class="fa-solid fa-left-long"></i></a>
    <h1 class='addAccount_heading'>Thêm bài hát</h1>
    <form action='/playlist/creat' method='post'>
        <input type='text' name='name' placeholder='Name'/>
         <input type='text' name='description' placeholder='Description'/>
         <input type='text' list="songId" name="songId" placeholder='Song'>
        <datalist name="songId" id="songId">
            {{#each songs}}
            <option value="{{name}}"></option>
            {{/each}}
        </datalist>

        <input type='text' list="userId" name="userId" placeholder='User'>
        <datalist name="userId" id="userId">
            {{#each users}}
            <option value="{{name}}"></option>
            {{/each}}
        </datalist>

        <button>Creat</button>
        {{#if registerError}}
            <div class="login_register-alert danger">
                <i class="login_register-alert-close fa-solid fa-xmark"></i>
                <div class="login_register-alert-text">
                    {{registerError}}
                </div>
            </div>
        {{/if}}
        {{#if success}}
            <div class="login_register-alert success">
                <i class="login_register-alert-close fa-solid fa-xmark"></i>
                <div class="login_register-alert-text">
                    {{success}}
                </div>
            </div>
        {{/if}}
    </form>
</div>