// Font
$font-family: 'Noto Sans', sans-serif;

// Color ...
$white: #fff;
$black: #000;
$white-smoke: #faf3f3;
$pale-blue: #e1e5ea;
$hazy-dale: #a7bbc7;
$blush: #da7f8f;
$transparent-white-smoke: #faf3f333;
$transparent-pale-blue: #e1e5ea33;
$slider-button-control: #ffffff33;
$background-profile-linear: linear-gradient(315deg, #edd812 0%, #ac9e77 74%);
$profile-boxsadow-image: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.4);

// Border-radius
$border-radius: 8px;

// Box-shadow
$box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em,
    rgba(90, 125, 188, 0.05) 0px 0.25em 1em;

// Border
$border-image-profile: 1px solid #ccc;